.tip-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tip-calculator-logo {
  pointer-events: none;
  margin: 20px;
}
.tip-calculator-card {
  background-color: hsl(0, 0%, 100%);
  padding: 20px 25px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 850;
  /* max-width: 850px; */
  margin: auto;
}
.tip-calculator-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: rgb(158, 60, 60); */
}
.tip-calculator-output {
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px 0px;
  border-radius: 20px;
  width: 400px;
  height: 400px;
}
.attribution {
  margin-top: 30px;
}

@media (max-width: 481px) {
  .tip-calculator {
    position: relative;
    top: 25px;
  }
  .tip-calculator-card {
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .tip-calculator-output {
    width: 328px;
    height: 255px;
    justify-content: space-evenly;
  }
  .attribution {
    margin-top: 10px;
  }
}
