.button {
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
  border: none;
  color: hsl(183, 100%, 15%);
  cursor: pointer;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  width: 300px;
  height: 40px;
  margin: 5px 0;
}
.button:hover {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
}
.button:disabled {
  background-color: hsl(183, 79%, 24%);
}
