.tip-input {
  width: 350px;
}
.tip-input h2 {
  font-size: 14px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  margin-bottom: 5px;
  width: 350px;
  user-select: none;
  text-align: left;
  padding-left: 20px;
}
.tip-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
}
